body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

fieldset {
    font:80%/1 sans-serif;
    clear: both;
}

button.sale-button {
    margin: 13px 0px 0px 0px;
    height: 40px;
    width: 135px;
    float: right;
}

button.cart-table-button, input.cart-table-button {
    margin-top: 5px;
}

table.cart-items, th, td {
    margin: 0 auto;
    border: 1px solid black;
}
table.cart-items {
    width:100%;
    height:100%;
}

td.cart-qty {
    text-align: center;
    width: 100px;
    white-space: nowrap;
}

td.price {
    text-align: center;
}

tr.cart-total {
    height: 50px;
    font-weight: bold;
}

div.search input.search {
    width: 450px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    font-size: 20px;
    padding: 1px 3px;
    outline: 0;
    -webkit-appearance: none;
}

div.search input.button-search {
    width: 80px;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    font-size: 20px;
    padding: 1px 3px;
    outline: 0;
    -webkit-appearance: none;
}

div.search input.button-search:hover {
    box-shadow: 2px 2px 2px #000;
}

input.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 1px 1px 1px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    box-shadow: 1px 1px 1px #666;
    font-size: 20px;
    padding: 1px 3px;
    outline: 0;
    -webkit-appearance: none;
}

input.input-qty {
    width: 65px;
    text-align: center;
}

div.buy {
    float: right;
}

.login-link {
    float: right;
    margin: -19px -30px 0px 0px;
    font-size: 15px;
}

.logout {
    font-size: 0.7em;
    float: right;
    font-style: italic;
}

.logout:hover {
    font-size: 1em;
    font-style: none;
}

