<?php
$title = 'Add New User';
$this->headTitle($title);
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action', $this->url('zfcadmin/users', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
?>
<table class="table">
   <tr>
       <td>
           <?php
                echo $this->formHidden($form->get('user_id'));
                echo $this->formRow($form->get('display_name'));
                echo $this->formRow($form->get('username'));
                echo $this->formRow($form->get('email'));
                echo $this->formRow($form->get('password'));
                echo $this->formRow($form->get('state'));
           ?>
       </td>
   </tr>
   <tr>
       <td align="right">
           <?php echo $this->formSubmit($form->get('submit')); ?>
       </td>
   </tr>
</table>
<?php
echo $this->form()->closeTag();