<?php
$title = 'Users';
$this->headTitle($title);
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>


<table class="table">
    <tr>
        <td colspan="5" align="right">
            <a href="<?php echo $this->url('zfcadmin/users',
                array('action'=>'add'));?>">Add New User</a>
        </td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Status</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($this->paginator as $user) :
        if ($user->state == 1) :
            $user->state = "Active";
        else :
            $user->state = "Inactive";
        endif;
        ?>
    <tr>
        <td><?php echo $this->escapeHtml($user->display_name);?></td>
        <td><?php echo $this->escapeHtml($user->username);?></td>
        <td><?php echo $this->escapeHtml($user->email);?></td>
        <td><?php echo $this->escapeHtml($user->state);?></td>
        <td>
            <a href="<?php echo $this->url('zfcadmin/users',
                array('action'=>'edit', 'user_id' => $user->user_id));?>">Edit</a>
            <a href="<?php echo $this->url('zfcadmin/users',
                array('action'=>'delete', 'user_id' => $user->user_id));?>">Delete</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'user'
    )
);
?>