<?php
$title = 'Makers';
$this->headTitle($title);
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>


<table class="table">
    <tr>
        <td colspan="2" align="right">
            <a href="<?php echo $this->url('zfcadmin/makers',
                array('action'=>'add'));?>">Add New Maker</a>
        </td>
    </tr>
    <tr>
        <th>Maker</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($this->paginator as $maker) : ?>
    <tr>
        <td><?php echo $this->escapeHtml($maker->name);?></td>
        <td>
            <a href="<?php echo $this->url('zfcadmin/makers',
                array('action'=>'edit', 'id' => $maker->id));?>">Edit</a>
            <a href="<?php echo $this->url('zfcadmin/makers',
                array('action'=>'delete', 'id' => $maker->id));?>">Delete</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'zfcadmin/makers'
    )
);
?>