<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 '. $this->translate('Skeleton Application'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath('css/style.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
                        ->prependStylesheet($this->basePath('css/bootstrap.css')) ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery.min.js'))
            ->prependFile($this->basePath('js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('js/html5shiv.min.js'),   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" alt="Zend Framework 2"/>&nbsp;<?php echo $this->translate('Car Sale') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Home') ?></a>
                        </li>
                        <?php if ($this->layout()->cart) : ?>
                            <li class="active">
                                <a href="<?php echo $this->url('cart') ?>">
                                    <?php echo $this->translate('Basket') ?>
                                     (<?php echo $this->layout()->totalItems ?>)
                                </a>
                            </li>
                        <?php endif; ?>
                        <?php if ($this->layout()->salesHistory > 0) : ?>
                            <li class="active">
                                <a href="<?php echo $this->url('sale') ?>"><?php echo $this->translate('History') ?></a>
                            </li>
                        <?php endif; ?>
                        <?php if ($this->layout()->userRole == 'admin') : ?>
                            <li class="active">
                                <a href="<?php echo $this->url('zfcadmin/vehicles') ?>"><?php echo $this->translate('Admin') ?></a>
                            </li>
                        <?php endif; ?>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <div class="logo">
                    Logo
                </div>
                <div class="search">
                    <form action="<?php echo $this->url('home') ?>" method="GET">
                        <input class="search" type="text" name="q" value="<?php echo $this->layout()->query; ?>" class="elastic-search" placeholder="Search for vehicles">
                        <input class="button-search rounded" type="submit" value="Search" />
                    </form>
                </div>
                <div class="login-link">
                    <?php
                    if (!$this->layout()->userIdentity) :
                        ?>
                        <a href="<?php echo $this->url('zfcuser/login') ?>">Login</a>
                        &nbsp;|&nbsp;
                        <a href="<?php echo $this->url('zfcuser/register') ?>">Sign In</a>
                        <?php
                    else :
                        ?>
                        Hello,
                        <a href="<?php echo $this->url('zfcuser') ?>">
                            <?php echo $this->layout()->userDisplayName; ?>
                        </a>!
                        <br/>
                        <a href="<?php echo $this->url('zfcuser/logout') ?>"><span class="logout">[Logout]</span></a>
                        <?php
                    endif;
                    ?>
                </div>
            </div>
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>&copy; 2005 - <?php echo date('Y') ?> by Zend Technologies Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
