<div class="row">
<?php if ($total_items > 0): ?>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Vehicles in the basket (<?php echo $total_items; ?>):
                </h3>
            </div>
            <div class="panel-body">
                <div class="cart-table">
                    <table class="cart-items">
                        <tr>
                            <th>Qty</th>
                            <th>Name</th>
                            <th>Item Price</th>
                            <th>Sub-Total</th>
                        </tr>
                        <?php foreach ($items as $key => $value): ?>
                            <tr>
                                <td class="cart-qty">
                                    <?php echo $value['qty']; ?>
                                    <form action="<?php echo $this->url('cart',
                                        array('action'=>'add-to-cart', 'id' => $value['id']));?>" method="POST">
                                        <input type="text" name="qty" class="rounded input-qty"/><br>
                                        <input type="hidden" name="id" value="<?php echo $value['id'] ?>" />
                                        <input class="btn btn-info cart-table-button" type="submit" name="act" value="+" />
                                        <input class="btn btn-info cart-table-button" type="submit" name="act" value="-" />
                                    </form>
                                    <form action="<?php echo $this->url('cart',
                                        array('action'=>'delete-from-cart', 'id' => $value['id']));?>" method="POST">
                                        <input type="hidden" name="id" value="<?php echo $value['id'] ?>" />
                                        <input type="hidden" name="token" value="<?php echo $key ?>" />
                                        <button class="btn btn-info cart-table-button" type="submit">Delete</button>
                                    </form>
                                </td>
                                <td>
                                    <?php echo $value['name']; ?>
                                    <?php if (count($value['options']) > 0): ?>
                                        Options:
                                        <?php foreach ($value['options'] as $option): ?>
                                            <?php echo $option . '<br/>'; ?>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </td>
                                <td class="price">
                                    <?php echo $this->escapeHtml(
                                        $this->currencyFormat($value['price'], 'GBP', null, 'pt_BR')
                                    ); ?>
                                </td>
                                <td class="price">
                                    <?php echo $this->escapeHtml(
                                        $this->currencyFormat($value['sub_total'], 'GBP', null, 'pt_BR')
                                    ); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                            <tr class="cart-total">
                            <td colspan="2"></td>
                            <td class="price"><strong>Total</strong></td>
                            <td class="price">
                                <?php echo $this->escapeHtml(
                                    $this->currencyFormat($total['sub-total'], 'GBP', null, 'pt_BR')
                                ); ?>
                            </td>
                        </tr>
                    </table>
                </div>
                <?php if ($this->userIdentity) : ?>
                <div class="buy">
                    <form action="<?php echo $this->url('sale',
                        array('action'=>'buy'));?>" method="POST">
                        <button class="btn btn-info pull-right sale-button" type="submit">Buy</button>
                    </form>
                <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
<?php else: ?>
    <div class="col-md-3">
        <h4>The shopping basket is empty.</h4>
    </div>
<?php endif; ?>
</div>