<?php
 $title = 'Delete Model';
 $this->headTitle($title);
 ?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>

 <p>Are you sure that you want to delete
    '<?php echo $this->escapeHtml($model->name); ?>'?
 </p>
 <hr>
 <?php
 $url = $this->url('zfcadmin/models', array(
     'action' => 'delete',
     'id'     => $this->id,
 ));
 ?>
 <form action="<?php echo $url; ?>" method="post">
 <div>
     <input type="hidden" name="id" value="<?php echo (int) $model->id; ?>" />
     <input type="submit" name="del" value="Yes" />
     <input type="submit" name="del" value="No" />
 </div>
 </form>