<?php
$title = 'Models';
$this->headTitle($title);
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>


<table class="table">
    <tr>
        <td colspan="3" align="right">
            <a href="<?php echo $this->url('zfcadmin/models',
                array('action'=>'add'));?>">Add New Model</a>
        </td>
    </tr>
    <tr>
        <th>Maker</th>
        <th>Model</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($this->paginator as $model) : ?>
    <tr>
        <td><?php echo $this->escapeHtml($model->maker_id);?></td>
        <td><?php echo $this->escapeHtml($model->name);?></td>
        <td>
            <a href="<?php echo $this->url('zfcadmin/models',
                array('action'=>'edit', 'id' => $model->id));?>">Edit</a>
            <a href="<?php echo $this->url('zfcadmin/models',
                array('action'=>'delete', 'id' => $model->id));?>">Delete</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'zfcadmin/models'
    )
);
?>