<?php
$title = 'Add New Vehicle';
$this->headTitle($title);
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form->setAttribute('action', $this->url('zfcadmin/vehicles', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
?>
<table class="table">
   <tr>
       <td>
           <?php
               echo $this->formHidden($form->get('id'));
               echo $this->formRow($form->get('maker_id'));
               echo $this->formRow($form->get('model_id'));
               echo $this->formRow($form->get('year'));
               echo $this->formRow($form->get('registration'));
               echo $this->formRow($form->get('engine_size'));
               echo $this->formRow($form->get('price'));
               echo $this->formRow($form->get('active'));
               echo $this->formRow($form->get('keyword'));
           ?>
       </td>
   </tr>
   <tr>
       <td align="right">
           <?php echo $this->formSubmit($form->get('submit')); ?>
       </td>
   </tr>
</table>
<?php
echo $this->form()->closeTag();