<?php
 $title = 'Delete Vehicle';
 $this->headTitle($title);
 ?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>

 <p>Are you sure that you want to delete
    ('<?php echo $this->escapeHtml($vehicle->year); ?>')
    '<?php echo $this->escapeHtml($vehicle->maker_id); ?>' -
    '<?php echo $this->escapeHtml($vehicle->model_id); ?>' 
    '<?php echo $this->escapeHtml($vehicle->engine_size); ?>'?
 </p>
 <hr>
 <table class="table">
     <thead>
        <tr>
            <th colspan="2">
               Vehicle details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="right">
               Registration:
            </td>
            <td>
               <?php echo $this->escapeHtml($vehicle->registration); ?>
            </td>
        </tr>
        <tr>
            <td align="right">
               Price:
            </td>
            <td>
               <?php echo $this->escapeHtml($vehicle->price); ?>
            </td>
        </tr>
        <tr>
            <td align="right">
               Keywords:
            </td>
            <td>
               <?php echo $this->escapeHtml($vehicle->keyword); ?>
            </td>
        </tr>
    </tbody>
 </table>
 <hr>
 <?php
 $url = $this->url('zfcadmin/vehicles', array(
     'action' => 'delete',
     'id'     => $this->id,
 ));
 ?>
 <form action="<?php echo $url; ?>" method="post">
 <div>
     <input type="hidden" name="id" value="<?php echo (int) $vehicle->id; ?>" />
     <input type="submit" name="del" value="Yes" />
     <input type="submit" name="del" value="No" />
 </div>
 </form>