<?php
$title = 'Vehicle Details';
$this->headTitle($title);

$url = $this->url('cart', array(
    'action' => 'add-to-cart',
    'id'     => $this->id,
));
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>

<form action="<?php echo $url; ?>" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <?php echo $this->escapeHtml($vehicle->year); ?>
                         <?php echo $this->escapeHtml($vehicle->maker_id); ?>
                         <?php echo $this->escapeHtml($vehicle->model_id); ?>
                         <?php echo $this->escapeHtml($vehicle->engine_size); ?>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Registration: <?php echo $this->escapeHtml($vehicle->registration); ?></p>
                    <p>Engine Size: <?php echo $this->escapeHtml($vehicle->engine_size); ?></p>
                    <p>
                        Price:
                        <?php
                        echo $this->escapeHtml(
                            $this->currencyFormat($vehicle->price, 'GBP', null, 'pt_BR')
                        );?>
                    </p>
                    <p>
                        <?php echo $this->escapeHtml($vehicle->keyword); ?>
                    </p>
                    <p>
                        <input type="hidden" name="id" value="<?php echo (int) $vehicle->id; ?>" />
                        <input class="btn btn-info pull-right" type="submit" value="Add to basket" />
                    </p>
                </div>
            </div>
        </div>
    </div>
 </form>