<?php
$title = 'Vehicles';
$this->headTitle($title);
?>
<h1 class="title"><?php echo $this->escapeHtml($title); ?></h1>


<table class="table">
    <tr>
        <td colspan="8" align="right">
            <a href="<?php echo $this->url('zfcadmin/vehicles',
                array('action'=>'add'));?>">Add New Vehicle</a>
        </td>
    </tr>
    <tr>
        <th>Maker</th>
        <th>Model</th>
        <th>Year</th>
        <th>Registration</th>
        <th>Engine Size</th>
        <th>Price</th>
        <th>Status</th>
        <th>&nbsp;</th>
    </tr>
    <?php foreach ($this->paginator as $vehicle) : ?>
    <tr>
        <td><?php echo $this->escapeHtml($vehicle->maker_id);?></td>
        <td><?php echo $this->escapeHtml($vehicle->model_id);?></td>
        <td><?php echo $this->escapeHtml($vehicle->year);?></td>
        <td><?php echo $this->escapeHtml($vehicle->registration);?></td>
        <td><?php echo $this->escapeHtml($vehicle->engine_size);?></td>
        <td>
            <?php
            echo $this->escapeHtml(
                $this->currencyFormat($vehicle->price, 'GBP', null, 'pt_BR')
            );?>
        </td>
        <td><?php echo $this->escapeHtml($vehicle->active);?></td>
        <td>
            <a href="<?php echo $this->url('zfcadmin/vehicles',
                array('action'=>'edit', 'id' => $vehicle->id));?>">Edit</a>
            <a href="<?php echo $this->url('zfcadmin/vehicles',
                array('action'=>'delete', 'id' => $vehicle->id));?>">Delete</a>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<?php
echo $this->paginationControl(
    // the paginator object
    $this->paginator,
    // the scrolling style
    'sliding',
    // the partial to use to render the control
    'partial/paginator.phtml',
    // the route to link to when a user clicks a control link
    array(
        'route' => 'zfcadmin/vehicles'
    )
);
?>