<div class="row">
    <?php
    if (count($vehicles) > 0) {
        foreach($vehicles as $vehicle) {
            ?>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <?php
                            echo
                            $this->escapeHtml($vehicle['year']) . " "
                            . $this->escapeHtml($vehicle['maker_id']) . " "
                            . $this->escapeHtml($vehicle['model_id'])
                            ?>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Registration: <?php echo $this->escapeHtml($vehicle['registration']); ?></p>
                        <p>Engine Size: <?php echo $this->escapeHtml($vehicle['engine_size']); ?></p>
                        <p>
                            Price:
                            <?php
                            echo $this->escapeHtml(
                                $this->currencyFormat($vehicle['price'], 'GBP', null, 'pt_BR')
                            );?>
                        </p>
                        <p>
                            <a class="btn btn-info pull-right" href="<?php echo $this->url('vehicle',
                                array('action'=>'details', 'id' => $vehicle['id']));?>">Details</a>
                        </p>
                    </div>
                </div>
            </div>
            <?php
        }
    } else {
        ?>
        <div class="col-md-3">
            No data found.
        </div>
        <?php
    }
    ?>

</div>
