<div class="row">
<?php if ($sales_count > 0): ?>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Shopping history (<?php echo $sales_count; ?>):
                </h3>
            </div>
            <div class="panel-body">
                <table class="cart-items">
                    <tr>
                        <th>Qty</th>
                        <th>Name</th>
                        <th>Item Price</th>
                        <th>Sub-Total</th>
                    </tr>
                    <?php foreach ($sales as $key => $value): ?>
                        <tr>
                            <td style="text-align: center; width: 150px; white-space: nowrap;">
                                <?php echo $value->quantity; ?>
                            </td>
                            <td>
                                <?php echo $value->product_name; ?>
                                <?php if (count($value->details) > 0): ?>
                                    Details:
                                    <?php foreach ($value->details as $detail): ?>
                                        <?php echo $detail . '<br/>'; ?>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </td>
                            <td style="text-align: center;">
                                <?php echo $this->escapeHtml(
                                    $this->currencyFormat($value->price_unit, 'GBP', null, 'pt_BR')
                                ); ?>
                            </td>
                            <td style="text-align: center;">
                                <?php echo $this->escapeHtml(
                                    $this->currencyFormat($value->price_unit * $value->quantity, 'GBP', null, 'pt_BR')
                                ); ?>
                            </td>
                        </tr>
                        <?php
                        $total = $total + $value->price_unit * $value->quantity;
                    endforeach;
                    ?>
                    <tr class="cart-total">
                        <td colspan="2"></td>
                        <td style="text-align: center;"><strong>Total</strong></td>
                        <td style="text-align: center;">
                            <?php echo $this->escapeHtml(
                                $this->currencyFormat($total, 'GBP', null, 'pt_BR')
                            ); ?>
                        </td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
<?php else: ?>
    <div class="col-md-3">
        <h4>The Shopping Cart Empty</h4>
    </div>
<?php endif; ?>
</div>